<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<form name='f' id="changePasswordForm" th:action="@{/changepassword}" method='POST'>
         <table>
            <tr>
               <td>Old password</td>
               <td><input type='password' name='oldPass' id="oldPassword" th:required="required" oninput="checkOldPassword()"></td>
            </tr>
            <tr>
               <td>New password</td>
               <td><input type='password' name='newPass' id="password" th:required="required" /></td>
            </tr>
            <tr>
               <td>Repeat new password</td>
                        <td><input type='password' id="confirm_password" oninput="check(this)" th:required="required"/></td>
            </tr>            

         </table>
                 <input name="submit" type="submit" value="Change" style="margin:auto; display: block;"/>
      </form>

<script src="/form-script.js"></script>
</html>