
<div id="myModal" class="modal">

	<div class="modal-content">
		<div class="modal-header">
			<span class="close">&times;</span>
			<h2>Confirm</h2>
		</div>
		<div class="modal-body">
			<p id="question">Are you sure?</p>
			<div>
				<button class="confirmbutton" id="confirmbutton"
					onClick="confimation()">YES</button>
				<button class="confirmbutton" onClick="closeModal()">NO!</button>
			</div>
			<div class="modal-footer">
				<h3 id="modal-footer-text"></h3>
			</div>
		</div>
	</div>
</div>